* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: bold;
	transition-duration: .5s;
}
ol, ul {
	list-style: none;
}
@font-face {
    font-family: 'Oxygen';
    src: url("fonts-Oxygen-Bold.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url("Oxygen-Light.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url("Oxygen-Regular.ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url("fonts-Nunito-ExtraLight.ttf");
    font-weight: 100;
    font-style: normal;
}
a {
    display: inline-block;
}
:root{
    --main-color: #fff;
    --font-color: #000;
} 
.slick-prev {
    left: -87px !important;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 81px !important;
    line-height: 1 !important;
    opacity: .75 !important;
    color: #000 !important;
    font-weight: bolder;
}
body {
	width: 100%;
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1421px;
}
.fa-user {
}

/* #spotlight */
#spotlight {
    width: 100%;
    padding-top: 20px;
    background-color: var(--main-color);  
    color: var(--font-color);
}
#spotlight.active {
    background-color: #000;
    color: #fff;
}
#spotlight section.wrapper {
    width: 90%;
}
#spotlight .wrapper header {
    width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
}
#spotlight .wrapper header div.image-container a {
    display: flex;
    align-items: center;
}
#spotlight .wrapper header div.image-container a h1 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 8px;
    width: 100%;
    color: #000;
}
#spotlight .wrapper header div.image-container a h1.active {
    color: #fff;
}
#spotlight .wrapper header div.image-container a h1:hover {
    color: #ffa500;
    transition: 1s;
}
#spotlight .wrapper header div.right {
    width: 40%;
}
#spotlight .wrapper header div.right ul {
    display: flex;
    padding: 10px 0;
    overflow: hidden;
}
#spotlight .wrapper header div.right ul li {
    margin-right: 40px;
}
#spotlight .wrapper header div.right ul li:last-child {
    margin-right: 0;
}
#spotlight .wrapper header div.right ul li:hover  {
    transform: translateY(150%);
}
#spotlight .wrapper header div.right ul li a {
    color: #707172;
    font-size: 20px;
    position: relative;
    text-transform: capitalize;
}
#spotlight .wrapper header div.right ul li:nth-child(1) a::before {
    content: "About";
    color: #ffa500;
    position: absolute;
    top: -35px;
}
#spotlight .wrapper header div.right ul li:nth-child(2) a::before {
    content: "Projects";
    color: #ffa500;
    position: absolute;
    top: -35px;
}
#spotlight .wrapper header div.right ul li:nth-child(3) a::before {
    content: "Resume";
    color: #ffa500;
    position: absolute;
    top: -35px;
}
#spotlight .wrapper header div.right ul li:nth-child(4) a::before {
    content: "Contact";
    color: #ffa500;
    position: absolute;
    top: -35px;
}
#spotlight .wrapper header div.right ul li span {
    color: #707172;
    font-size: 20px;
    display: block;
}
#spotlight .wrapper header div.right ul li a:hover {
    opacity: 0.75;
    color: #ffa500;
    transition: 1s;
}
.fa-user {
    font-size: 40px;
    color: #000;
}
.fa-user.active {
    color: #fcfafa;
}
.fa-user:hover {
    color: #ffa500;
    transition: 1s;
}
#spotlight .wrapper header div.color a {
    display: flex;
}
#spotlight .wrapper header div.color a div.day_night {
    width: 25px;
}
#spotlight .wrapper header div.color a div.day_night img {
    display: block;
    width: 100%;
}
#spotlight .wrapper header div.color a h5 {
    font-size: 20px;
    margin-left: 5px;
    font-weight: bold;
    color: black;
}
#spotlight .wrapper header div.color a h5.active {
    color: #f5f0f0;
}
#spotlight .wrapper section.content {
    display: flex;
    margin-top: 10%;
    width: 100%;
}
#spotlight .wrapper .content div.left {
    width: 82%;
    margin-top: 5%;
    padding-bottom: 61px;
}
#spotlight .wrapper .content div.left h6 {
    font-size: 20px;
    margin-bottom: 6%;
    color: #464747;
    padding-left: 4%;
}
#spotlight .wrapper .content div.left div.words {
    margin-bottom: 3%;
    display: flex;
}
#spotlight .wrapper .content div.left div.words h1.one {
    font-size: 50px;
    font-weight: bold;
    color: #0a0a0adc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}
#spotlight .wrapper .content div.left div.words h1.one::after{
    /* position: absolute; */
    /* width: 100%; */
    content: "";
    display: block;
    color: #ffa500;
    animation: text_animate infinite 8s ease-in-out;
    /* top: 0; */
    transform: translate(107%, -96%);
}
#spotlight .wrapper .content div.left div.words h1.one.active {
    color: #fff;
} 
#spotlight .wrapper .content div.left div.words div.animate {
    height: 50px;
    overflow: hidden;
}

@keyframes text_animate {
    0% {
        content: "Web designer";
        transition-duration: .5s;
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        content: "UI Specialist";
        transition-duration: .5s;
    }
    70% {
        opacity: 0;
    }
    75% {
        transition-duration: .5s;
        opacity: 1;
        content: "Marvel Saan";
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        content: "Web designer";
        transition-duration: .5s;
    }
}
#spotlight .wrapper .content div.left p {
    font-size: 20px;
    color: #6b6d6e;
    /* margin-top: 3%; */
    margin-bottom: 8%;
    font-family: "Open sans";
}
#spotlight .wrapper section.content div.left a {
   display: inline-block;
   margin: 0 auto;
}
#spotlight .wrapper section.content div.left a.submit {
    display: inline-block;
    font-size: 18px;
    border-radius: 40px;
    background-color: #e6e0dfcc;
    /* width: 29%; */
    color: rgb(41, 40, 40);
    padding: 19px 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#spotlight .wrapper section.content div.left a.submit:hover {
    color: #ffa500;
}
#spotlight .wrapper section.content div.left a.button {
    font-size: 18px;
    border-radius: 40px;
    background-color: rgba(15, 9, 26, 0.718);
    /* width: 25%; */
    color: #f5f0f0;
    padding: 19px 27px;
    margin-left: 2%;
}
#spotlight .wrapper section.content div.left a:last-child:hover {
    opacity: 1;
    background-color: #ffa500;
}
.fa-file-alt {
    margin-right: 7px;
}
#spotlight .wrapper section.content div.right {
    width: 66%;
    /* height: 450px; */
}
#spotlight .wrapper section.content div.right  div.image-container {
    width: 86%;
}
#spotlight .wrapper section.content div.right div.image-container img {
    width: 100%;
    display: block;
}
/* #main */
#main {
    width: 100%;
    background-color: var(--main-color);
}
#main.active {
    background-color: #000;
    color: #fff;
}
#main section.wrapper {
    width: 90%;
    padding-top: 2%;
}
#main section.wrapper div.header {
    width: 100%;
    text-align: center;
}
#main section.wrapper div.header h1 {
    margin: 0 auto;
    width: 63%;
    font-size: 50px;
    color: #080808;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#main section.wrapper div.header h1.active {
    color: #fff;
}
#main section.wrapper div.single-items {
    width: 83%;
    margin: 0 auto;
}
#main section.wrapper div.single-items img {
    width: 100%;
    display: block;
}
#main div.icon {
	width: 10%;
	margin-left: 86%;
    position: relative;
    top: -500px;
}
/* middle */
#middle { 
    width: 100%;
    background-color: var(--main-color);  
}
#middle.active {
    background-color: #000;
    color: #fff;
}
#middle .wrapper {
    /* width: 90%; */
    display: flex;
}
#middle .wrapper .left { 
    width: 50%;
}
#middle .wrapper .left h2 {
    font-size: 40px;
    font-weight: bold;
    color: #1b1a1a;
    margin-bottom: 5%;
}
#middle .wrapper .left h2.active {
    color: #fff;
}
#middle .wrapper .left ul { 
    width: 100%;
    margin-top: 10%;
    position: relative;
}
#middle .wrapper .left ul::before{
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 700px;
    background: #352a3f;
    left: 43px;
}
#middle .wrapper .left ul li { 
    display: flex;
    margin-bottom: 15%;
}
#middle .wrapper .left ul li.active {
    color: #fff;
}
#middle .wrapper .left ul li .left {
    width: 94px;
    height: 90px;
    border-radius: 50%;
    background-color: #352a3f;
    position: relative;
    margin-right: 3%;
}
#middle .wrapper .left ul li .left span {
    color: #f5f0f0;
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
    box-sizing: border-box;
    padding: 31px 22px;
}
#middle .wrapper .left ul li .right { 
    width: 90%;
}
#middle .wrapper .left ul li .right h3 {
    font-size: 29px;
    color: #2e2c2c;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#middle .wrapper .left ul li .right h3 span {
    font-size: 18px;
    font-weight: bold;
    margin-left: 1%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #302d33;
}
#middle .wrapper .left ul li .right p {
    width: 80%;
    font-size: 17px;
    margin-top: 3%;
    color: #6b6d6e;
    line-height: 1.5;
    font-family: "Open Sans";
}
#middle .wrapper .right { 
    width: 50%;
}
#middle .wrapper .right h2 {
    font-size: 40px;
    font-weight: bold;
    color: #1b1a1a;
    margin-bottom: 5%;
}
#middle .wrapper .right h2.active {
    color: #fff;
}
#middle .wrapper .right ul { 
    width: 100%;
    margin-top: 10%;
    position: relative;
}
#middle .wrapper .right ul::before{
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 500px;
    background: #352a3f;
    left: 43px;
}
#middle .wrapper .right ul li { 
    display: flex;
    margin-bottom: 15%;  
}
#middle .wrapper .right ul li.active {
    color: #fff;
}
#middle .wrapper .right ul li .left {
    width: 94px;
    height: 90px;
    border-radius: 50%;
    background-color: #352a3f;
    position: relative;
    margin-right: 3%;
}
#middle .wrapper .right ul li .left span {
    color: #f5f0f0;
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
    box-sizing: border-box;
    padding: 31px 22px;
}
#middle .wrapper .right ul li .right { 
    width: 90%;
}
#middle .wrapper .right ul li .right h3 {
    font-size: 29px;
    color: #2e2c2c;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#middle .wrapper .right ul li .right h3 span {
    font-size: 18px;
    font-weight: bold;
    margin-left: 1%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #302d33;
}
#middle .wrapper .right ul li .right h3 span.active {
    color: #fff;
}
#middle .wrapper .right ul li .right p {
    width: 80%;
    font-size: 17px;
    margin-top: 3%;
    color: #6d6d6d;
    line-height: 1.5;
}
#middle .wrapper .right ul li .right p b {
    color: rgb(43, 116, 226);
}
#middle .wrapper .right ul li .right p b:hover {
    color: #ffa500;
    transition: .1s;
}
/* #contact */
#contact {
    width: 100%;
    background-color: var(--main-color);
}
#contact.active {
    background-color: #000;
    color: #fff;
}
#contact .wrapper { 
    width: 90%;
    display: flex;
    padding-top: 60px;
}
#contact .wrapper .left {
    width: 50%;
    padding-top: 2%;
}
#contact .wrapper .left .frame { 

}
#contact .wrapper .left .frame iframe { 
    width: 90%;
}
#contact .wrapper .left .hello {
    width: 90%;
    background-color: #3f3c50;
    display: flex;
}
#contact .wrapper .left .hello .one {
    width: 80%;
    padding-left: 75px;
    padding-top: 20px;
}
#contact .wrapper .left .hello .one h2 {
    font-size: 40px;
    color: snow;
    padding-bottom: 20px;
    /* padding-left: 75px; */
}
#contact .wrapper .left .hello .one span {
    font-size: 18px;
    color: snow;
    /* margin: 13% 4% 3% 16%; */
    padding-bottom: 20px;
    display: inline-block;
}
#contact .wrapper .left .hello .one h4 {
    font-size: 18px;
    color: snow;
    /* margin: 4% 4% 5% 16%; */
}
#contact .wrapper .left .hello .one h4:hover {
    color: #ffa500;
}
#contact .wrapper .left .hello .icon { 
    width: 20%;
}
#contact .wrapper .left .hello .icon ul { 
    
}
#contact .wrapper .left .hello .icon ul li { 
    margin: 21% 0;
}
.fa-globe {
    color: snow;
}
.fa-instagram {
    color: #fff;
    width: 60px;
}
.fa-youtube {
    color: #fff;
    align-items: center;
}
#contact .wrapper .right { 
    width: 45%;
    position: relative;
}
#contact .wrapper .right h2 {
    font-size: 42px;
    color: 3;
    width: 91%;
    font-weight: 800;
}
#contact .wrapper .right form { 
    margin-top: 5%;
}
#contact .wrapper .right form input[type=text] {
	flex: 1;
	padding: 13px 10px;
	border-radius: 3px;
	border: 1px solid #dcdcdc;
	width: 46%;
	margin-right: 7%;
	font-size: 20px;
	color: #6d6d6d;
}
#contact .wrapper .right form input[type=text]:hover {
    border-color: #ffa500;
}
#contact .wrapper .right form input[type=email] {
	flex: 1;
	padding: 13px 10px;
	border-radius: 3px;
	border: 1px solid #dcdcdc;
	width: 46%;
	margin-right: 0;
	font-size: 20px;
	color: #6d6d6d;
}
#contact .wrapper .right form input[type=email]:hover {
    border-color: #ffa500;
}
#contact .wrapper .right form  div.text {
	padding-top: 10px;
    margin-bottom: 5%;
}
#contact .wrapper .right form .text textarea {
	width: 100%;
    height: 245px;
  	padding-left: 5px;
  	box-sizing: border-box;
  	border-radius: 5px;
    border: 1px solid #dcdcdc; 
    font-size: 20px;
    color: #6d6d6d;
}
#contact .wrapper .right form .text textarea:hover {
    border-color: #ffa500;
}
#contact .wrapper .right form a {
    margin: 0 auto;
} 
#contact .wrapper .right form a.submit {
    font-size: 17px;
    border-radius: 40px;
    background-color: #f8ab37cc;
    color: #fcfafa;
    padding: 16px 70px;
    position: absolute;
    right: 0;
}
#contact .wrapper .right form a.submit:hover {
    background-color: #3f3c50;
}
.fa-globe:hover {
    color: #ffa500;
}
.fa-instagram:hover {
    color: #ffa500;
}
.fa-youtube:hover {
    color: #ffa500;
}
/* footer */
footer {
	color: #fff;
	padding-top: 6%;
    padding-bottom: 5%;  
}
footer.active {
    background-color: #000;
    color: #fff;
}
footer h4 {
    text-align: center;
    color: #6d6d6d;
    font-size:20px;
}
footer h6 {
    text-align: center;
    color: #6d6d6d;
    font-size: 20px;
    margin-top: 20px;
}
footer h6 b {
    color: #0184ff;
}
footer h6 b:hover {
    color: #ffa500;
}
/* Responsive */
@media all and (max-width: 1400px) {
    #middle .wrapper .left ul li .left {
        width: 15%;
    }
    #middle .wrapper .left ul li .left span {
        padding: 32px 15px;
    }
    #middle .wrapper .left ul::before {
        height: 704px;
        left: 40px;
    }
    #middle .wrapper .right ul::before {
        left: 37px;
    }
    #middle .wrapper .right ul li .left {
        width: 15%;
    }
    #middle .wrapper .right ul li .left span {
        padding: 30px 14px;
    }
    #contact .wrapper .left .hello .one {
        padding-left: 71px;
        padding-top: 8px;
    }
}
@media all and (max-width: 1280px) {
    #spotlight .wrapper header div.image-container {
        width: 16%;
    }
    .fa-user {
        font-size: 32px;
    }
    #spotlight .wrapper header div.image-container a {
        font-size: 30px;
    }
    #spotlight .wrapper header div.image-container a h1 {
        font-size: 18px;
    }
    #spotlight .wrapper header div.right {
        width: 51%;
        justify-content: center;
    }
    #spotlight .wrapper header div.right ul {
        width: 80%;
        margin: 10px 0 0 0;
    }
    #spotlight .wrapper header div.right ul li {
        width: 31%;
    }
    #spotlight .wrapper header div.right ul li a {
        font-size: 16px;
    }
    #spotlight .wrapper header div.color {
        width: 18%;
    }
    #spotlight .wrapper header div.color div.btn {
        width: 30px;
    }
    #spotlight .wrapper header div.color h5 {
        font-size: 19px;
    }
    #spotlight .wrapper .content div.left div.words h1.one {
        width: 65%;
    }
    #spotlight .wrapper .content div.left {
        width: 87%;
    }
    #spotlight .wrapper .content div.left div.words h1.one {
        font-size: 38px;
        width: 50%;
    }
    /* #spotlight .wrapper .content div.left div.words div.animate {
        height: 34px;
        width: 64%;
    }
    #spotlight .wrapper .content div.left div.words div.animate span {
        font-size: 36px;
        margin-left: 8px;  
    } */
    #spotlight .wrapper .content div.left p {
        font-size: 15px;
    }
    #spotlight .wrapper section.content div.left a.submit {
        /* padding: 17px 29px; */
    }
    #spotlight .wrapper section.content div.left a.button {
        /* padding: 16px 26px; */
    }
    #main section.wrapper div.header h1 {
        width: 65%;
        font-size: 36px;
    }
    #middle .wrapper .left h2 {
        font-size: 35px;
    }
    #middle .wrapper .left ul li .left {
        width: 19%;
        height: 76px;
    }
    #middle .wrapper .left ul::before {
        height: 610px;
        left: 40px;
    }
    #middle .wrapper .left ul li .left span {
        padding: 31% 21% 30% 17%;
    }
    #middle .wrapper .left ul li .right h3 {
        font-size: 25px;
    }
    #middle .wrapper .left ul li .right h3 span {
        font-size: 15px;
    }
    #middle .wrapper .left ul li .right p {
        width: 99%;
        font-size: 15px;
    }
    #middle .wrapper .right h2 {
        font-size: 35px;
    }
    #middle .wrapper .right ul li .left {
        width: 19%;
        height: 76px;
    }
    #middle .wrapper .right ul::before {
        height: 400px;
        left: 40px;
    }
    #middle .wrapper .right ul li .left span {
        padding: 31% 21% 30% 17%;
    }
    #middle .wrapper .right ul li .right h3 {
        font-size: 25px;
    }
    #middle .wrapper .right ul li .right h3 span {
        font-size: 15px;
    }
    #middle .wrapper .right ul li .right p {
        width: 91%;
        font-size: 15px;
    }
    #contact .wrapper .left .hello .one h2 {
        font-size: 31px;
    }
    #contact .wrapper .left .hello .one span {
        font-size: 16px; 
    }
    #contact .wrapper .left .hello .one h4 {
        font-size: 16px;
    }
    #contact .wrapper .right {
        width: 60%;
    }
    #contact .wrapper .right h2 {
        font-size: 32px;
    }
    #contact .wrapper .right form div.text {
        margin-bottom: 4%;
    }
    #contact .wrapper .right form .text textarea {
        height: 215px;
    }
    footer h4 {
        font-size: 15px;
        text-align: center;
        color: #6d6d6d;
    }
    footer h6 {
        font-size: 15px;
    }
}
@media all and (max-width: 1080px) {
    #middle .wrapper .left ul::before {
        left: 37px;
    }
    #middle .wrapper .left ul li .left span {
        padding: 24px 10px 10px 11px;
    }
    #middle .wrapper .right ul::before {
        left: 36px;
    }
    #middle .wrapper .right ul li .left span {
        padding: 24px 10px 10px 11px;
    }
}
@media all and (max-width: 980px) {
    #spotlight .wrapper header div.color {
        width: 21%;
    }
    #spotlight .wrapper header div.color div.btn {
        width: 31px;
    }
    #spotlight .wrapper header div.color div.btn img {
        width: 81%;
    }
    #spotlight .wrapper .content div.left h6 {
        font-size: 16px;
    }
    #spotlight .wrapper .content div.left div.words h1.one {
        font-size: 30px;
        width: 50%;
    }
    #spotlight .wrapper .content div.left p {
        font-size: 14px;
    }
    #spotlight .wrapper section.content div.left a.submit {
        padding: 12px 5px;
    }
    #spotlight .wrapper section.content div.left a.button {
        padding: 11px 10px;
    }
    div.image-container img {
        width: 95%;
    }
    #main section.wrapper div.header h1 {
        font-size: 28px;
    }
    #middle .wrapper .left h2 {
        font-size: 30px;
    }
    #middle .wrapper .left ul li .left {
        width: 25%;
    }
    #middle .wrapper .left ul::before {
        height: 573px;
    }
    #middle .wrapper .left ul li .right h3 {
        font-size: 19px;
    }
    #middle .wrapper .left ul li .right h3 span {
        font-size: 14px;
    }
    #middle .wrapper .left ul li .right p {
        width: 100%;
        font-size: 14px;
    }
    #middle .wrapper .right h2 {
        font-size: 30px;
    }
    #middle .wrapper .right ul::before {
        height: 386px;
    }
    #middle .wrapper .right ul li .left {
        width: 25%;
    }
    #middle .wrapper .right ul li .right h3 {
        font-size: 19px;
    }
    #middle .wrapper .right ul li .right h3 span {
        font-size: 14px;
    }
    #middle .wrapper .right ul li .right p {
        width: 100%;
        font-size: 14px;
    }
    #contact .wrapper .right h2 {
        font-size: 25px;
    }
    #contact .wrapper .left .hello .one {
        padding-left: 13px;
        padding-top: 8px;
    }
    #contact .wrapper .right form input[type=text] {
        width: 49%;
        margin-right: 0;
    }
    #contact .wrapper .left .hello .icon ul li {
        padding: 14% 0;
    }
    #contact .wrapper .right form input[type=email] {
        width: 49%;
        margin-right: 0;
    }
}
@media all and (max-width: 768px) {
    #spotlight .wrapper header div.right {
        display: none;
    }
    #spotlight .wrapper header div.color {
        width: 26%;
    }
    #spotlight .wrapper .content div.left div.words {
        width: 95%;
    }
    #spotlight .wrapper .content div.left div.words h1.one {
        width: 70%;
    }
    #spotlight .wrapper .content div.left div.words div.animate {
        width: 100%;
    }
    #spotlight .wrapper section.content div.right {
        display: none;
    }
    #middle .wrapper .left h2 {
        font-size: 28px;
    }
    #middle .wrapper .left ul::before {
        left: 31px;
    }
    #middle .wrapper .left ul li .left {
        width: 26%;
        height: 65px;
        margin-right: 14px;
    }
    #middle .wrapper .left ul li .left span {
        font-size: 18px;
        padding: 36% 17% 30% 19%;
    }
    #middle .wrapper .left ul::before {
        left: 31px;
    }
    #middle .wrapper .left ul li .right h3 {
        font-size: 17px;
    }
    #middle .wrapper .left ul li .right h3 span {
        font-size: 13px;
    }

    #middle .wrapper .right h2 {
        font-size: 28px;
    }
    #middle .wrapper .right ul::before {
        left: 31px;
    }
    #middle .wrapper .right ul li .left {
        width: 26%;
        height: 62px;
        margin-right: 14px;
    }
    #middle .wrapper .right ul li .left span {
        font-size: 18px;
        padding: 33% 17% 30% 17%;
    }
    #middle .wrapper .left ul::before {
    left: 31px;
    }
    #middle .wrapper .right ul li .right h3 {
        font-size: 17px;
    }
    #middle .wrapper .right ul li .right h3 span {
        font-size: 13px;
    }
    #contact .wrapper .left .hello .one {
        padding-left: 10px;
        padding-top: 12px;
    }
    #contact .wrapper .right h2 {
        font-size: 21px;
    }
}
@media all and (max-width: 640px) {
    #spotlight .wrapper header div.color {
        width: 31%;
    }
    #spotlight .wrapper .content div.left div.words {
        width: 97%;
    }
    #spotlight .wrapper .content div.left div.words h1.one {
        width: 91%;
    }
    #spotlight .wrapper section.content div.left a.submit {
        font-size: 15px;
    }
    #spotlight .wrapper section.content div.left a.button {
        font-size: 15px;
    }
    #main section.wrapper {
        padding-bottom: 21px;
    }
    #main section.wrapper div.header h1 {
        font-size: 20px;
    }
    #main section.wrapper div.single-items {
        width: 60%;
    }
    #middle .wrapper {
        display: block;
    }
    #middle .wrapper .left {
        width: 100%;
    }
    #middle .wrapper .left h2 {
        font-size: 26px;
    }
    #middle .wrapper .left ul::before {
        height: 565px;
        left: 33px;
    }
    #middle .wrapper .left ul li .left {
        width: 15%;
        margin-right: 17px;
    }
    #middle .wrapper .left ul li .left span {
        font-size: 17px;
        padding: 32% 17% 30% 23%;
    }
    #middle .wrapper .right {
        width: 100%;
    }
    #middle .wrapper .right h2 {
        font-size: 26px;
    }
    #middle .wrapper .right ul::before {
        height: 360px;
        left: 32px;
    }
    #middle .wrapper .right ul li .left {
        width: 15%;
        margin-right: 17px;
    }
    #middle .wrapper .right ul li .left span {
        font-size: 17px;
        padding: 32% 17% 30% 21%;
    }
    #contact .wrapper .left .hello .one h2 {
        font-size: 19px;
    }
    #contact .wrapper .left .hello .one h4 {
        font-size: 13px;
    }
    #contact .wrapper .left .hello .icon {
        width: 16%;
    }
    #contact .wrapper .right h2 {
        font-size: 17px;
    }
    #contact .wrapper .right form input[type=text] {
        font-size: 15px;
    }
    #contact .wrapper .right form input[type=email] {
        font-size: 15px;
    }
    #contact .wrapper .right form a.submit {
        padding: 9px 34px;
    }
    #contact .wrapper .right form .text textarea {
        font-size: 15px;
    }
    footer {
        padding-top: 10%;
    }
}
@media all and (max-width: 540px) {
    #spotlight .wrapper .content div.left div.words h1.one {
        width: 87%;
    }
    #spotlight .wrapper header div.color {
        width: 33%;
    }
    #spotlight .wrapper header div.color a h5 {
        font-size: 17px;
    }
    #spotlight .wrapper .content div.left div.words h1.one {
        font-size: 28px;
    }
    #spotlight .wrapper .content div.left div.words div.animate {
        width: 84%;
    }
    #spotlight .wrapper .content div.left div.words div.animate span {
        font-size: 25px;
    }
    #middle .wrapper .left ul li .left {
        width: 17%;
        margin-right: 19px;
    }
    #middle .wrapper .left ul li .left span {
        padding: 22px 15px;
    }
    #middle .wrapper .left ul::before {
        height: 517px;
        left: 33px;
    }
    #middle .wrapper .right ul li .left {
        width: 17%;
        margin-right: 19px;
    }
    #middle .wrapper .right ul li .left span {
        padding: 22px 15px;
    }
    #middle .wrapper .right ul::before {
        height: 348px;
        left: 32px;
    }
    #contact .wrapper {
        display: block;
    }
    #contact .wrapper .left {
        width: 100%;
    }
    #contact .wrapper .left .hello {
        width: 91%;
    }
    #contact .wrapper .left .hello .one h2 {
        font-size: 24px;
    }
    #contact .wrapper .right {
        width: 93%;
        margin-top: 7%;
    }
    #contact .wrapper .right h2 {
        font-size: 27px;
    }
}
@media all and (max-width: 480px) {
    .fa-user {
        font-size: 24px;
    }
    #spotlight .wrapper header div.image-container a h1 {
        font-size: 14px;
    }
    #spotlight .wrapper header div.color {
        width: 40%;
    }
    #spotlight .wrapper header div.color a h5 {
        font-size: 14px;
    }
    #spotlight .wrapper .content div.left {
        width: 100%;
    }
    #spotlight .wrapper .content div.left div.words h1.one {
        font-size: 22px;
    }
    #spotlight .wrapper .content div.left div.words div.animate {
        width: 94%;
    }
    #spotlight .wrapper section.content div.left a.submit {
        padding: 8px 10px;
        font-size: 14px;
        width: 60%;
        display: block;
        text-align: center;
        margin-bottom: 14px;
        /* margin: 0 auto; */
    }
    #spotlight .wrapper section.content div.left a.button {
        padding: 8px 7px;
        display: block;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
    }
    #main section.wrapper div.header h1 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .slick-prev:before {
        display: none;
    }
    .slick-next:before {
        display: none;
    }
    #middle .wrapper .left ul li .left {
        width: 23%;
        border-radius: 50%;
        margin-right: 18px;
    }
    #middle .wrapper .left ul li .left span {
        padding: 24px 16px;
    }
    #middle .wrapper .left ul::before {
        height: 540px;
        left: 32px;
    }
    #middle .wrapper .right ul li .left {
        width: 27%;
        margin-right: 18px;
    }
    #middle .wrapper .right ul li .left span {
        padding: 22px 15px;
    }
    #middle .wrapper .right ul::before {
        height: 332px;
        left: 32px;
    }
    #contact .wrapper .left .hello .one {
        padding-left: 35px;
        padding-top: 18px;
    }
    #contact .wrapper .right h2 {
        font-size: 20px;
    }
    footer {
        display: none;
    }
}
@media all and (max-width: 360px) {
    #spotlight .wrapper header div.color div.btn {
        width: 22px;
    }
    #spotlight .wrapper .content div.left h6 {
        font-size: 14px;
    }
    #spotlight .wrapper .content div.left div.words h1.one {
        font-size: 19px;
    }
    #spotlight .wrapper .content div.left div.words div.animate {
        height: 17px;
    }
    #spotlight .wrapper .content div.left div.words div.animate span {
        font-size: 19px;
    }
    #main section.wrapper {
        padding-bottom: 7%;
    }
    .slick-prev:before {
        display: none;
    }
    .slick-next:before {
        display: none;
    }
    #middle .wrapper .left ul::before {
        left: 32px;
        height: 513px;
    }
    #middle .wrapper .right ul li .left {
        width: 26%;
        margin-right: 18px;
    }
    #middle .wrapper .left ul li .left span {
        /* border-radius: 50%; */
        /* width: 17px; */
        /* display: inline-block; */
        /* padding: 0px; */
        /* box-sizing: border-box; */
    }
    #middle .wrapper .right ul li .right p {
        font-size: 13px;
    }
    #middle .wrapper .right ul::before {
        height: 328px;
        left: 32px;
    }
    #middle .wrapper .right ul li .left span {
        padding: 22px 16px;
    }
    #middle .wrapper .left ul li .right p {
        font-size: 13px;
    }
    #contact .wrapper {
        padding-bottom: 14%;
    }
    #contact .wrapper .right h2 {
        font-size: 18px;
    }
}
@media all and (max-width: 320px) {
    #middle .wrapper .right ul::before {
        left: 28px;
    }
    #middle .wrapper .right ul li .left span {
        padding: 22px 10px;
    }
}
